[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyterlab = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
opencv-python = "*"
tensorboard = "*"
tensorboardx = "*"
graphviz = "*"
attrs = "*"
colorlog = "*"
jupyter = "*"
pyyaml = "*"
plotly = "*"
moviepy = "*"
tqdm = "*"
click = "*"
tensorflow = "*"

[requires]
python_version = "3.5"
