[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

"b6fe2cf" = {file = "http://download.pytorch.org/whl/cu90/torch-0.3.0.post4-cp35-cp35m-linux_x86_64.whl"}
numpy = "*"
scipy = "*"
matplotlib = "*"
opencv-python = "*"
tensorboard = "*"
tensorboardx = "*"
graphviz = "*"
attrs = "*"
colorlog = "*"
jupyter = "*"
pyyaml = "*"
plotly = "*"
imageio = "*"


[requires]

python_version = "3.5"
