# example configuration. Copy this file and rename it to mypath.py (will be ignored in git)

from .path_config_abstract import PathConfigAbstract


class PathConfig(PathConfigAbstract):
    @staticmethod
    def db_root_dir():
        return '/media/klaus/Ondrag/DAVIS'

    @staticmethod
    def save_root_dir():
        return './models'

    @staticmethod
    def exp_dir():
        return './'

    @staticmethod
    def is_custom_pytorch():
        return True

    @staticmethod
    def custom_pytorch():
        return "/"

    @staticmethod
    def is_custom_opencv():
        return False

    @staticmethod
    def custom_opencv():
        return None

    @staticmethod
    def models_dir():
        return './models'
